<div nz-row class="track_div">
<nz-card nzHoverable style="width:350px ; height:350px; margin-right:60px; background-color: #FABB09; border-radius: 15px; border-color:black">
    <img alt="scadenziario" src="./assets/scadenziario.png" width="300" height="300" (click)="scadenziario()"/>
</nz-card>
<nz-card nzHoverable style="width:350px; height:350px; background-color: #FABB09; border-radius: 15px; border-color:black">
    <img alt="anagrafica" src="./assets/anagrafica.png" width="300" height="300" (click)="anagrafica()"/>
</nz-card>
<nz-card nzHoverable style="width:350px; height:350px; margin-left:60px; background-color: #FABB09; border-radius: 15px; border-color:black">
    <img alt="database" src="./assets/database.png" width="300" height="300" (click)="database()"/>
</nz-card>
</div>
